/* app css stylesheet */

.scale(@what){
  -moz-transform:scale(@what);
  -o-transform:scale(@what);
  -webkit-transform:scale(@what);
  transform:scale(@what);
}
.transition(@what){
  -moz-transition:@what;
  -o-transition:@what;
  -webkit-transition:@what;
  transition:@what;
}

#menu{
  position: absolute;
  z-index: 99;
  left:100px;
  list-style: none;
  padding:0; margin:70px 0 0;
  top:20px;
  li{
    float:left;
    clear:left;
    a{
      @size:50px; 
      width:@size; height:@size; display: block;
      margin:0 0;
      i{
        width:@size;height:@size;display:block;
      }
    }

    .transition(all .3s);

    &.current{
      .scale(1.6);
      margin:20px 0;
    }

  }

  .transition(top .3s ease-out);
}

#titles{
  position: absolute;
  top:95px; left:200px;
  h1{
    position: absolute;
    width:500px;
    opacity: 0;
    .scale(0.5);
    .transition(all .3s);
    &.current{
      opacity:1;
      .scale(1);
    }
  }
}