/* app css stylesheet */

@brandcolor:#de2121;
.scale(@what){
  -moz-transform:scale(@what);
  -o-transform:scale(@what);
  -webkit-transform:scale(@what);
  transform:scale(@what);
}
.transition(@what){
  -moz-transition:@what;
  -o-transition:@what;
  -webkit-transition:@what;
  transition:@what;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
body{
  font-family: Roboto;
  overflow-y: hidden;
  margin: 0;padding: 0;
  background:white;
}
#menu{
  position: absolute;
  z-index: 99;
  left:100px;
  list-style: none;
  padding:0; margin:55px 0 0;
  top:20px;
  li{
    float:left;
    clear:left;
    a{
      @size:50px; 
      width:@size; height:@size; display: block;
      margin:0 0;
      i{
        width:@size;height:@size;display:block;
      }
    }

    .transition(all .3s);

    &.current{
      .scale(1.8);
      margin:20px 0;
    }

  }

  .transition(top .3s ease-out);
  &.inactive{
    opacity:0.5;
  }
}

#titles{
  position: absolute;
  top:84px; left:200px;
  h1{
    position: absolute; font-weight: 300; font-size: 50px; color:#737070; line-height: 30px;
    width:500px;
    // border-bottom: 5px solid #ff2e43; padding-bottom: 15px;
    opacity: 0;
    -webkit-transform-origin:-10% 50%;
    .scale(0.6);
    .transition(all .35s);
    &.current{
      opacity:1;
      .scale(1);
    }
  }
}
#underline{
  margin-top:125px; margin-left:190px; height:5px; background: fade(#ff2e43,50%);
  opacity: 0;
}
#logo{
  width: 264px;
  height: 78px;
  background: url(img/logo.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 34px;
  right: 55px;
}
#watermark{
  width: 264px;
  height: 78px;
  background: url(img/watermark.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 34px;
  right: 55px;
  z-index: 998;
}


#view{
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background:url(sampledata/bg.jpg);
  height:700px;
}

.carousel{
  float:left; margin-left:200px;
  margin-top: 10px;
  .loading{
    font-size: 26px;
    font-weight: 300;
    color: #999;
    margin-top: -5px;
    margin-left: 4px;
    display: none;
    &.on{
      display: block;
    }
  }
  .holder{
    .transition(margin .3s)
  }
  .item{
    float:left;
    .transition(all .3s);
    margin-right:10px;
    width:170px; height:250px;
    position: relative;
    overflow: hidden;
    img{
      width:100%; height:100%;
    }
    .playlbl{
      position: absolute;
      width: 100%;
      padding-left:63px;
      height: 60px;
      display: block;
      background: url(img/play.png) no-repeat 9px 8px fade(@brandcolor,90%);
      font-size: 25px; color:white;
      line-height: 60px;
      bottom: -260px;
      text-transform: uppercase;
      .transition(bottom 1.5s ease-out);
    }
    &.current{
      width:330px; height:488px; margin-left:125px;
      .playlbl{
        bottom: 0;
        // display:block;
      }
    }
    &.faded{
      opacity: 0.6;
    }
  }
}

#loading{
  background: url(img/logo.png) no-repeat center #fff;
  background-size: 400px;
  width: 100%;height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
}
#movieloader{
  background: url(img/logo.png) no-repeat center #000;
  background-size: 400px;
  width: 100%;height: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  opacity: 1;
  .transition(all .5s);
  &.off{
    opacity: 0;
  }
}

#search-view{
  margin-left: 188px;
  margin-top: 20px;
  input[type=text]{
    background:#eee;
    border:2px solid #ccc;
    font-size: 22px;
    outline: none;
    padding:8px 15px;
    width:500px
  }

  .carousel{
    margin-left: 10px;
    margin-top: 20px;
  }
  
}

.info{
  width: 660px;
  color: #737070;
  position: absolute;
  top: 380px;
  left: 570px;

  h1{ margin-bottom:0;margin-top: 30px; padding: 0; font-size: 35px; }
  p{ margin-top: 13px;  font-size: 19px; margin-bottom: 13px; height: 108px; overflow: hidden;}

  .meta{
    border-radius: 10px; padding: 5px 10px; font-size: 22px;
    float:left;
    background: #d0d0d0;
    color:#707070;
  }
  .age, .duration{   }

  .age {
    background: url(img/icon-age.png) no-repeat 7px 2px; 
    padding-left: 35px;
  }

  .duration {
    background: url(img/time-icon.png) no-repeat 2px 6px; 
    padding-left: 30px;

   }

  .button{
    border-width: 3px;
    margin-top: 11px;
    font-size: 26px;
    padding: 8px 60px;
    border-radius: 10px; 
    float:left;
  }
}
.button, button{
    background: @brandcolor; 
    border: 2px solid darken(@brandcolor,10%); 
    border-radius: 6px; 
    color: #fff;
    text-transform: uppercase;
    // width: 220px;
    padding: 6px 40px;
    font-size: 18px;
    font-weight: 700;
    display: block;
    text-align: center;
}

#users{
  float:left;
  margin-left: 200px;
  margin-top: 50px;
  .error{
    background: #FC6666;
    padding: 10px;
    color: white;
    display:none;
    &.on{
      display:block;
    }
  }
  input{
    width: 300px;
    padding: 6px 10px;
    font-size: 20px;
    background: #eee;
    border: 2px solid #ccc;
    // outline: none;
    &:focus{
      border:2px solid #F88484;
    }
    &:active{
      border:2px solid #F88484;
    }

  }
  button{
    float:left;
    margin-top:5px;
    margin-left: 0px;
  }

  .carousel{
    margin-top: -30px;
    margin-left: 0px;
    .item{
      height:170px;
      &.current{
        height: 330px;
      }
    }
  }
}

#playlists{
  .carousel{

  }
  .info{
    .thumbs{
      img{
        float:left;
        height:auto;
        width:70px;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}

#videoplayer{
  width: 100%!important;
  height: 100%!important;
  background:black;
    // display: none;
  video{
    width:100%; height:100%;
  }
  .vjs-control-bar{
    display: none;
  }
}
#controls{
    width: 100%;
    position: absolute;
    bottom: 40px;
    opacity:0;
    -webkit-transform:translate(0,50px);
    -moz-transform:translate(0,50px);
    -o-transform:translate(0,50px);
    transform:translate(0,50px);    
    .transition(all .2s);
    &.wplaylist{
        bottom: 0;
        #playlist{
            display: block;
        }
        .progress{
            

            top: 103px;
            height: 2px;
            &.thick{
                top:95px;
                height:10px;
            }
        }
    }

    &.show{
        opacity:1;
        -webkit-transform:translate(0,0);
        -moz-transform:translate(0,0);
        -o-transform:translate(0,0);
        transform:translate(0,0);    
    }
    #controls-ul{
        margin: 0 auto;
        padding-left:20px;
        list-style: none;
        padding: 0;
        .transition(all .3s);
        li{
            padding: 0;margin: 0;
            float: left;
            opacity: 0.8;
            .scale(0.9);
            a{
                @size:50px; 
                width:@size; height:@size; display: block;
                margin:0 0;
                i{
                width:@size;height:@size;display:block;
                }
            }
            .transition(all .3s);
            &.current{
                margin: 0 15px;
                opacity: 1;
                .scale(1.7);
            }
            &.disabled{
              opacity:0.4;
            }
        }
    }
    .progress{
      height:10px;
      position: absolute;
      background:fade(white,70%);
      width: 100%;
      top:80px;
      .transition(all .3s);
      
      .made{
        background:@brandcolor;
        height:100%;
        position: relative;
        z-index: 2;
      }
    }
    #playlist{
        margin-top: 30px;
        width: 100%;
        height: 105px;
        overflow: hidden;
        display: none;
        
        .bg{
            position: absolute;
            width: 100%;
            height: 70px;
            margin-top: 35px;
            background: fade(black,70%);

        }
        ul{
            position: relative;
            z-index: 3;
            list-style: none;
            padding: 0; margin: 0 auto;
            li{
                padding: 0;margin: 0;
                float: left;
                margin: 35px 0 0;
                .transition(margin .3s);
                &.current{
                    margin-top: 0;
                }
            }
            img{
                width: 100px; float: left; margin: 0 5px;
            }
        }
    }
}

#src-head{
    position: absolute;
    width: 100%;
    background: fade(black,70%);
    height: 110px;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 999;
    ul{
        position: absolute;
        padding: 0;margin: 0;
        list-style: none;
        li{
            float: left;
            background: fade(white,90%);
            margin: 3px;
            font-size: 27px;
            padding: 0;
            line-height: 44px;
            text-align: center;
            border-radius: 4px;
        }
        .transition(all .3s);
        &.focused li.current{
            background: #d0333f;
            color: white;
        }
    }

    ul:first-child{
        margin-top: 3px;
        height: 50px;
        overflow: hidden;
        li{
            padding: 0 10px 3px;
            min-width: 14px;
            font-size: 24px;
            white-space: nowrap;
            min-height: 44px;
        }
    }
    ul:last-child{
        top: 58px;
        li{
            width: 40px; height: 40px; line-height: 40px;
            text-align: center;
            &.current{
                
            }
        }
        &.focused{
            li.current{
                position: relative;
                &::before{
                    content:" ";
                    height:44px; width:21px;
                    position: absolute;
                    background: url(img/cursor.png) no-repeat;
                    top: -41px;
                    left:9px;
                }
            }
        }
    }
}


#srcdiv{
    position: absolute;
    top: 0;left: 0;
    z-index: 999;
    width: 100%;
    overflow: hidden;

    .carousel{
        margin-top: 117px;
        .holder .current.item{
            margin-left: 0;
        }
    }
    .info{
      padding: 0 20px 20px;
      background: fade(black,75%);
      width: 790px;
      left: 405px;
      color:white;
      h1{
        margin-top: 10px;
      }
      p{
        height:95px;
      }
    }

    .unfocused .carousel{
        .holder{
            .current.item{
                width: 170px;
                height: 250px;
                margin-left: 0;
                .playlbl{
                  bottom: -260px;
                }
            }
        }
    }
}

#search-view #srcdiv{
  .carousel{
    margin-top: 137px;
    margin-left: 200px;
    .current.item{
      margin-left: 125px;
    }
  }
  .info{
      padding: 0;
      background: none;
      width: 660px;
      left: 570px;color: #737070;
      p{
        height: 108px;
      }
    }
    #src-head{
      background: rgba(255, 255, 255, 0.7);
      height: 130px;
      ul{
        li{
          background: rgba(65, 65, 65, 0.9);
          color:white;
          &.current{
            
          }
        }
        &.focused .current{
          background: #d0333f;
        }
      }
    }
}

#leftfader{
  position: absolute;
  z-index: 99;
  background: fade(white,50%);
  width:80px; height: 100%;
  left: 0;top: 0;
}

#lang{
  position: absolute;
  z-index: 997;
  width: 100%;
  top: 0;
  opacity:0;
  .transition(opacity .4s);
  &.on{
    opacity: 1;
  }
  .holder{
    width: 480px;
    padding: 15px;
    border-radius: 10px;
    background: fade(black,65%);
    
    position: relative;
    margin: 200px auto;
  }

    .current{
      width: 480px;
      border-radius: 6px;
      height: 52px; 
      position: absolute;
      top: 0;
      z-index: 32;
      margin-top: 20px;
      .transition(top .3s);


      background: @brandcolor;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #E02E2E),
        color-stop(1, #D11F1F)
      );
      background-image: -o-linear-gradient(bottom, #E02E2E 0%, #D11F1F 100%);
      background-image: -moz-linear-gradient(bottom, #E02E2E 0%, #D11F1F 100%);
      background-image: -webkit-linear-gradient(bottom, #E02E2E 0%, #D11F1F 100%);
      background-image: -ms-linear-gradient(bottom, #E02E2E 0%, #D11F1F 100%);
      background-image: linear-gradient(to bottom, #E02E2E 0%, #D11F1F 100%);
    }
  ul{
    position: relative;
    z-index: 33;
    padding: 0;
    margin: 0px;
    font-size: 30px;
    color: #fff;
    list-style:none;
    li{
      float: left;
      clear: both;
      padding: 10px 15px;
    }
  }
}