
<div class="itemslist" ng-class="{on:items.length>0&&carousel.loading==false}">
	{{carousel.index+1}} от {{carousel.length}}
</div>
<carousel model="carousel" items="items"></carousel>
<div class="noitems" ng-class="{on:items.length==0&&carousel.loading==false}" ng-bind="noItemsLabel">
	
</div>

<div class="info" ng-show="carousel.item" playmovie="{{carousel.item.id}}">
	<h1 ng-bind="carousel.item.title"></h1>
	<p ng-bind="carousel.item.description"></p>
	<!-- <span ng-bind="currentItem.age + '+'" class="age"></span>  -->
	<div class="meta">
		<span ng-bind="(carousel.item.duration/60).toFixed()" class="duration"></span>мин
	&nbsp;&nbsp;| <span class="age" ng-bind="carousel.item.ageTags[0]">без ограничение</span>
	</div>
	
	<div class="clearfix"></div>
</div>