<div style="width:100%; height:100%; position:absolute; background:black">
	<div id="watermark"></div>
	<div id="movieloader" ng-class="{off:movieloading==false}">
		<div class="label">зареждане...</div>
	</div>
	<video id="videoplayer" videoplayer ng-src="{{movieUrl}}">
	</video>
	<div id="controls" ng-class="{show:showControls, wplaylist:playlist.length>0}">
		<ul style="width:{{(controls.length-1)*50+50}}px; margin-left:{{center-controlsx}}px" id="controls-ul">
			<li ng-repeat="control in controls" 
				ng-class="{current:menuItem==$index, disabled:($index==1&&currentInList==0)||($index==6&&(currentInList+1==playlist.length||playlist.length==0))}" 
				ng-hide="(control.icon=='play' && playing)||(control.icon=='pause' && !playing)" >

				<a>
					<i 
						iconfill="#fff" 
						data-index="{{$index}}" 
						data-color-class="current:#de2121" 
						class="icon-{{control.icon}}" 
						style="{{control.style}}"
						data-attrs='{"transform":"{{control.tsf}}", "fill":"{{control.fill}}"}' 
						data-stroke="8 rgba(0,0,0,0.5)"></i></a>
			</li>
		</ul>
		<div class="clearfix"></div>
		<div class="progress" ng-class="{thick:menuItem==2||menuItem==5}">
			<div class="made" style="width:{{progress*100}}%"></div>
			<!-- <div class="loaded" style="width:{{loaded*100}}%"></div> -->
		</div>
		<div id="playlist">
			<div class="bg"></div>
			<ul style="width:{{playlist.length*110}}px; margin-left:{{center-(currentInList*110)-55}}px">
				<li ng-repeat="item in playlist" ng-class="{current:(currentInList==$index&&(menuItem==3||menuItem==4||menuItem==2||menuItem==5))||(currentInList==$index-1&&menuItem==6)||(currentInList==$index+1&&menuItem==1)}">
					<img ng-src="{{item.thumb}}">
				</li>
			</ul>
		</div>
		
	</div>
</div>
<searchnew></searchnew>
<language></language>
