<div id="srcdiv">
	<div id="src-head" ng-show="keyboard.visible">
		<ul style="width:{{sug.width}}px; left:{{sug.pos}}px" ng-class="{focused:keyboard.active}">
			<li>{{sug.text}}</li>
		</ul>
		<div class="clearfix"></div>
		<keyboardnew model="keyboard"></keyboardnew>
	</div>
	<div ng-hide="searchLevel<1" ng-class="{unfocused:searchLevel<3}">
		<carousel model="carousel" items="items" searchLevel="searchLevel"></carousel>
		<div class="info"  ng-show="carousel.item" playmovie="{{carousel.item.id}}">
			<h1 ng-bind="carousel.item.title"></h1>
			<p ng-bind="carousel.item.description"></p>
			<!-- <span ng-bind="currentItem.age + '+'" class="age"></span>  -->
			<div class="meta">
				<span ng-bind="carousel.item.duration" class="duration"></span>мин
			&nbsp;&nbsp;| <span class="age" ng-bind="carousel.item.ageTags[0]">без ограничение</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>