<div id="srcdiv">
	<div id="src-head" ng-hide="searchLevel<1">
		<ul style="width:{{sugWidth}}px; left:{{sugPos}}px" ng-class="{focused:searchLevel==1}">
			<li ng-repeat="sug in suggestions" ng-class="{current:$index==curSug}">{{sug}}</li>
		</ul>
		<div class="clearfix"></div>
		<div id="cursor" ng-hide="searchLevel!=2" style="left:{{center-10}}px"></div>
		<ul style="width:{{keyboard.length*46}}px; left:{{center-curChar*46-23}}px" ng-class="{focused:searchLevel==2}">
			<li ng-repeat="char in keyboard" ng-class="{current:$index==curChar}" ng-bind="char"></li>
		</ul>
	</div>
	<div ng-hide="searchLevel<1" ng-class="{unfocused:searchLevel<3}">
		<carousel></carousel>
		<div class="info" ng-show="currentItem">
			<h1 ng-bind="currentItem.title"></h1>
			<p ng-bind="currentItem.description"></p>
			<!-- <span ng-bind="currentItem.age + '+'" class="age"></span>  -->
			<span ng-bind="currentItem.duration" class="duration"><i icon></i></span>
			<div class="clearfix"></div>
			<a class="button" playmovie="{{currentItem.id}}">Гледай</a>
		</div>
	</div>
</div>