<div id="srcdiv">
	<div id="src-head" ng-hide="searchLevel<1">
		<ul style="width:{{sugWidth}}px; left:{{sugPos}}px" ng-class="{focused:searchLevel==1}">
			<li ng-repeat="sug in suggestions" ng-class="{current:$index==curSug}">{{sug}}</li>
		</ul>
		<div class="clearfix"></div>
		<div id="cursor" ng-hide="searchLevel!=2" style="left:{{center-10}}px"></div>
		<ul style="width:{{keyboard.length*46}}px; left:{{center-curChar*46-23}}px" ng-class="{focused:searchLevel==2}">
			<li ng-repeat="char in keyboard" ng-class="{current:$index==curChar}" ng-bind="char"></li>
		</ul>
	</div>
	<div ng-hide="searchLevel<1" ng-class="{unfocused:searchLevel<3}">
		<carousel model="carousel" items="items"></carousel>
		<div class="info"  ng-show="carousel.item" playmovie="{{carousel.item.id}}">
			<h1 ng-bind="carousel.item.title"></h1>
			<p ng-bind="carousel.item.description"></p>
			<!-- <span ng-bind="currentItem.age + '+'" class="age"></span>  -->
			<div class="meta">
				<span ng-bind="carousel.item.duration" class="duration"></span>мин
			&nbsp;&nbsp;| <span class="age" ng-bind="carousel.item.ageTags[0]">без ограничение</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>