<div id="users">
	<div ng-switch on="loggedIn">
		<div ng-switch-when="true">
			<carousel></carousel>
		</div>
		<div ng-switch-default>
			<form ng-submit="logIn()">
				<div class="error" ng-class="{on:error.length>0}">{{error}}</div>
				<input type="text" placeholder="Потребител" ng-model="data.email">
				<div class="clearfix"></div>
				<input type="password" placeholder="Парола" ng-model="data.password">
				<div class="clearfix"></div>
				<button type="submit" class="small">Вход</button>
			</form>
		</div>
	</div>
</div>